{
    "parser": "babel-eslint",
    "parserOptions": {
      "allowImportExportEverywhere": true
    },
    "extends": ["airbnb",
                "eslint:recommended",
                "plugin:import/errors",
                "plugin:import/warnings"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "ga": true
  },
  "plugins": [
    "react",
    "import",
    "flowtype",
    "class-property"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
        "comma-dangle": 0,
        "max-len": [1, {"code": 120}],
        "indent": [2, 2, {"SwitchCase": 1}],
        "no-unused-vars": [2, { "ignoreRestSiblings": true }],
        "react/prop-types": 0,
        "global-require": 0,
        "import/no-unresolved": [0, {"commonjs": true, "amd": true}],
        "import/no-extraneous-dependencies": [0],
        "import/extensions": [0],
        "import/first": [0],
        "import/newline-after-import": [0],
        "react/jsx-filename-extension": [0],
        "import/prefer-default-export": [0],
        "react/require-default-props": [0],
        "react/forbid-prop-types": [0],
        "react/no-unused-prop-types": [0],
        "jsx-a11y/label-has-for": [0],
        "react/jsx-no-target-blank": [0],
        "react/no-did-mount-set-state": 1,
        "jsx-a11y/no-static-element-interactions": [0],
        "react/no-array-index-key": [0],
        "jsx-a11y/img-has-alt": [0],
        "react/self-closing-comp": [0],
        "jsx-a11y/href-no-hash": [0],
        "jsx-a11y/anchor-is-valid": [0],
        "react/sort-comp": [1, {
          order: [
            'static-methods',
            'lifecycle',
            'everything-else',
            'render'
          ],
          groups: {
            lifecycle: [
              'displayName',
              'propTypes',
              'contextTypes',
              'childContextTypes',
              'mixins',
              'statics',
              'defaultProps',
              'constructor',
              'getDefaultProps',
              'getInitialState',
              'props',
              'state',
              'getChildContext',
              'componentWillMount',
              'componentDidMount',
              'componentWillReceiveProps',
              'shouldComponentUpdate',
              'componentWillUpdate',
              'componentDidUpdate',
              'componentWillUnmount',
              'componentWillAppear',
              'componentDidAppear',
              'componentWillEnter',
              'componentDidEnter',
              'componentWillLeave',
              'componentDidLeave'
            ]
          }
        }],
        "react/no-multi-comp": 1,
        "semi": 2,
                "flowtype/boolean-style": [
          2,
          "boolean"
        ],
        "flowtype/define-flow-type": 1,
        "flowtype/delimiter-dangle": [
          2,
          "never"
        ],
        "flowtype/generic-spacing": [
          2,
          "never"
        ],
        "flowtype/no-primitive-constructor-types": 2,
        "flowtype/object-type-delimiter": [
          2,
          "comma"
        ],
        "flowtype/require-parameter-type": 2,
        "flowtype/require-valid-file-annotation": 2,
        "flowtype/semi": [
          2,
          "always"
        ],
        "flowtype/space-after-type-colon": [
          2,
          "always"
        ],
        "flowtype/space-before-generic-bracket": [
          2,
          "never"
        ],
        "flowtype/space-before-type-colon": [
          2,
          "never"
        ],
        "flowtype/type-id-match": 0,
        "flowtype/union-intersection-spacing": [
          2,
          "always"
        ],
        "flowtype/use-flow-type": 1,
        "flowtype/valid-syntax": 1
  }
}
